<% include ./partials/head %>  

<% include ./partials/header %>  
<h1><%= title %></h1>
						
<div class="french-movies">

        <div>
            <p>ID : <%= user._id %></p>
            <p>PRENOM : <%= user.name %></p> 
            <p>NOM : <%= user.lastName %></p>
            <p>EMAIL : <%= user.email %></p>
            <p>PWD : <%= user.pwd %></p>
        </div>
        <div>
            <p><a href="/user-delete/<%= user._id %>">Delete User</a></p>
            <% if (!formUpdate) { %>
            <p><a href="/user-update/<%= user._id %>">Update User</a></p>
            <% } %>
        </div>
</div>
<% if (formUpdate) { %>
    <div class="row">
        <% include ./form-user %>
    </div>
   
  <% } %>
<% include ./partials/footer %>  